<div>
  <app-navbar></app-navbar>
  <div class="cloudDiv"></div>
  <div class="slide2 fullHeight">
    <div class="book-section">
      <p id="title">{{name}}</p>
      <p id="mybooksheader">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptates eos ab. Voluptate nihil, maxime sunt officiis
         reiciendis odio doloremque est fugiat vero, optio cumque culpa sed, minus necessitatibus quaerat.</p>
      <div class="cardSection">
        <div class="cards">
            <div class="card-ball" >
                <img  src="assets/images/star.png" alt="movie-image2" />
              </div>
          <!-- <img  class="card-item" src="assets/images/remote.png" alt="remoteJob-image" /> -->
          <div  class="desc card-item">
          <h3 id="card-title"> Required</h3>
          <p class="details"> officiis veniam assumenda eos ipsam, officia unde, iusto omnis minima at</p>
            <p>Jason Fried</p>
            <!-- <img src={likes} alt="fav-image" />
            <img src={likes} alt="fav-image" />
            <img src={likes} alt="fav-image" />
            <img src={likes} alt="fav-image" />
            <img src={likes} alt="fav-image" /> -->
          </div>
        </div>
        <div class="cards" >
            <div class="card-ball" >
                <img id="star-o" src="assets/images/star.png" alt="movie-image2" />
              </div>
          <!-- <img  class="card-item" src="assets/images/movie-king.png" alt="movie-image" /> -->
          <div  class="desc card-item">
          <h3 id="card-title">Lorem ipsum dolor </h3>
          <p class="details"> officiis veniam assumenda eos ipsam, officia unde, iusto omnis minima at</p>
            <p>Henri Charriere</p>
            <!-- <img src={likes} alt="fav-image" />
            <img src={likes} alt="fav-image" />
            <img src={likes} alt="fav-image" />
            <img src={unlike} alt="unfav-image" />
            <img src={unlike} alt="unfav-image" /> -->
          </div>
        </div>
        <div class="cards">
          <div class="card-ball" >
            <img  src="assets/images/star.png" alt="movie-image2" />
          </div>
          <div  class="desc card-item">
          <h3 id="card-title">The Gun Slinger</h3>
          <p class="details"> officiis veniam assumenda eos ipsam, officia unde, iusto omnis minima at</p>
            <p>Stephen Kings</p>
            <!-- <img src={likes} alt="fav-image" />
            <img src={likes} alt="fav-image" />
            <img src={unlike} alt="fav-image" />
            <img src={unlike} alt="unfav-image" />
            <img src={unlike} alt="unfav-image" /> -->
          </div>
          <div>

          </div>
        </div>
      </div>
      <div>
        <!-- <p class="author">Author</p>
      </div>
      <div class="layer">
        <div class="layer-item">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci vero temporibus iure voluptates
             hic nisi ullam numquam similique, amet inventore magnam, illum iusto eaque ea, nam culpa autem quo
              necessitatibus.</p>
        </div>
      </div> -->
      <div style="margin-bottom:50px">
        <button style="width:70%; margin-top:5%" id="button">
        Add Book Review
        </button>
      </div>
    </div>
  </div>
</div>
