<div>
  <div class="slide2 fullHeight">
<div class="wrapper">
<div id="maroun2"></div>
<div id="moonly2"></div>
<div id="moonly3"></div>
<div id="moonly4"></div>
<div class="base-shape star">
  <img id="review"  src="assets/images/flipbook.png" />
</div>
<div style="display:block">
  <h1 id="header">Review Them</h1>
  <p class="description">Create your account to get started.
    <br/> After that,
you can share books and make friends.</p>
</div>

  <p class="bottom-text" routerLink="/dashboard" routerLinkActive="skip" ><strong><u>Skip Intro</u></strong></p>

</div>
</div>
</div>
