<div  class="main fullHeight" id="slide1">
  <div class="wrapper">
  <div id="maroun"></div>
  <div id="moonly"></div>
  <div class="base-shape">
  <img id="flibbook" src="assets/images/light.png">
        </div>
    <div style="display:block">
      <h1 id="header">Read Books</h1>
      <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit Asperiores explicabo natus iure pariatur animi corrupti illo </p>
      <p class="bottom-text">
        <button routerLink="/welcome" routerLinkActive="skip" mat-button id="s-button" color="primary">Getting Started</button>
      </p>
    </div>
    </div>
    </div>
